/**** navbar active link ****/
#about {
  background-Color: var(--main-hv-color);
}
#about a text, #about a text:hover  {
  color: white !important;
}

@media screen and (max-width: 768px) {
  #about {
    background-Color: rgba(0,0,0,0);
  }

  #about a text, #about a text:hover {
    color: var(--main-hv-color) !important;
  }
}
/**** about Section ****/
#about-sec {
  min-height: 100vh;
  padding: 60px 16px 60px;
}
.member{
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  padding: 20px;
  height: 100%;
  transition: all 1s;
  text-align: center;
  cursor: default;
}
.member:hover{
  border: 1px solid var(--main-sec-color);
}
.member p{
	margin-bottom: 4px;
}
.member h3 {
  color: var(--main-sec-color);
}
.member img{
  width: 120px;
  height: 120px;
}