/**** navbar active link ****/
#profile {
    background-Color: var(--main-hv-color);
}
#profile a text, #profile a text:hover  {
    color: white !important;
}

@media screen and (max-width: 768px) {
    #profile {
        background-Color: rgba(0,0,0,0);
    }

    #profile a text, #profile a text:hover {
        color: var(--main-hv-color) !important;
    }
}
/***************************/

#upload-img {
    position: relative;
    top: -80px;
}

    #upload-img img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #upload-img i {
        display: none;
        color: rgb(200,200,200);
        position: absolute;
        top: -3px;
        left: 34px;
        margin-bottom: -32px;
    }

    #upload-img:hover i {
        display: block;
    }
